span{
  position: fixed;
  top: 10px;
  left: 5px;
  height: 100px;
  width: 300px;
  background-color: blue;
  color: white;
}

span>* {
  margin: 5px;
}

div {
  background-color: aqua;
  width: 250px;
  height: 250px;
  position: static;
  margin: 10px;
  float: left;
}

button {
  margin: 10px;
}